nav {
  border-bottom: .1em solid #808080;
}

#searchContainer {
  display: block;
  height: 12em;
  width: 60em;
}

form {
  width: 60em;
  margin: 0 auto;
  padding: 0;
}

fieldset {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: .3em;
  margin-bottom: .3em;
}

legend {
  display: block;
  width: 100%;
  border: .1em solid #808080;
  font-family: sans-serif;
  font-size: 1.25em;
  background-color: #808080;
  color: #FFFFFF;
  text-align: center;
}

input {
  display: block;
  text-align: center;
  vertical-align: middle;
  margin: .5em auto;
  padding: 1em;
}

#dropdown {
  display: inline-block;
  margin: 0 41.8%;
  padding: .5em;
}

option {
  width: .5em;
  height: .5em;
  font-family: sans-serif;
  font-size: 1.25em;
  background-color: #808080;
  color: #FFFFFF;
}

#mapContainer {
  width: 60em;
  height: 30em;
  margin-top: .3em;
}

#googlemapsbackground {
  height: 30em;
  width: 60em;
  box-sizing: border-box;
  display: block;
  border: .1em solid #808080;
}

#barContainer {
  display: block;
  width: 60em;
  height: 30em;
  margin-top: 1em;
  border: .1em solid #808080;
}

#polarContainer {
display: block;
max-width: 100%;
margin: .5em auto;
padding: 0;
}

#polar1, #polar2, #polar3, #polar4, #polar5 {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  /*background-color: #808080;*/
}

#polar1Canvas, #polar2Canvas, #polar3Canvas, #polar4Canvas, #polar5Canvas {
  border: .1em solid #808080;
  display: inline-block;
}
